.App {
  padding: 30px;
  max-width: 600px;
  margin: auto;
}

.picker-page .submit-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.picker-page .selected-option {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.picker-page .selected-option-row:not(:last-child) {
  padding-bottom: 15px;
}

.picker-page .selected-option-row {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
}

.picker-page .selected-option-name {
  flex-grow: 1;
  text-align: center;
}

.selected-option-fat, .selected-option-carbs, .selected-option-protein {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40px;
}

.constants {
  display: flex;
}

.constants {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.constants label {
  margin-right: 10px;
}

.ratio-constant input {
  width: 45px;
}

.meal-constant input {
  width: 60px;
}

.meal-nutrition {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.meal-nutrition-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-list-item {
  display: flex;
  flex-direction: row;
}

.food-picker-type {
  margin-bottom: 20px;
}

.custom-form-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}

.custom-form-row label {
  margin-right: 10px;
}

.custom-form-cell {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-grow: 1;
  justify-content: center;
}

.custom-form-cell input#name {
  width: 250px;
}

.custom-form-cell input#carbs, .custom-form-cell input#fat, .custom-form-cell input#protein {
  width: 50px;
}

.selected-list-heading {
  margin-left: 20px;
  margin-top: 1.8em;
  margin-bottom: 1.5em;
}

.weight-slider input {
  width: 250px;
}

.selected-list-item-stats {
  font-size: 12px;
}

.selected-list-item-remove {
  margin-right: 15px;
  cursor: pointer;
  color: red;
}

.selected-list-item-name {
  flex-grow: 1;
}

.selected-list-item-text {
  display: flex;
}

.selected-list-item-stats {
  flex-shrink: 0;
}

.selected-list-item-weight {
  margin-right: 10px;
}